/*Confugiration*/
.ty-negative {
    transform: translateY(-50%);
}

.conf {
    /*Some codes*/
}

.conf_header {
    padding-top: 125px;
    padding-bottom: 125px;
}

.conf_header h1, h2 {
    display: block;
    width: 100%;
    font-family: Dosis-Bold;
    font-size: 91px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: 0.52px;
    text-align: center;
    color: #ffffff;
}

.conf_header h2 {
    font-size: 52px;
}

.conf_tabs {
    margin: 0;
    padding: 0;
    display: flex;
}

.conf_tabs li {
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    list-style: none;
}

.conf_tabs li a {
    font-family: Dosis-Medium;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: normal;
    letter-spacing: 0.42px;
    color: #ffffff;
    text-decoration: none;
    outline: none;
    background-color: #7ca953;
    text-transform: uppercase;
}

.tabs__item:hover a {
    background-color: rgba(160, 210, 37, 1);
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
    /*transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
}

.conf_tabs li.active a {
    background-color: #a0c025;
}

.conf_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f5f2f2;
    height: auto;
}

.conf_box__left {
    display: flex;
    max-width: 30%;
    min-width: 630px;
    min-height: 100%;
    padding: 50px;
}

.conf_box__right {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 50px;
}

.conf_box__left .left_in > p {
    font-family: Dosis-Medium;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.tech {
    padding-top: 50px;
    padding-bottom: 50px;
}

.tech-header {
    font-family: Dosis-Bold;
    font-size: 18px;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e8e8e8;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3a3a3a;
}

.tech-item table {
    width: 100%;
    margin: 0;
    padding: 0;
}

.tech-item table tr {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #7ca953;
}

.tech-item table tr:last-child {
    border-bottom: none;
}

.tech-item table tr td {
    font-family: Dosis-Medium;
    padding: 15px;
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #505050;
}

.csm-input-group {
    display: inline-block;
    min-width: 70px;
    margin-right: 20px;
    position: relative;
}

.csm-input-group input {
    visibility: hidden;
}

.csm-input-group label {
    font-family: Dosis-Medium;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    display: block;
    position: absolute;
    width: 1.9rem;
    height: 1.9rem;
    top: 5px;
    border: 1px solid #c4c4c4;
    text-align: left;
    color: #505050;
    padding-left: 5px;
    cursor: pointer;
}

.csm-input-group label svg {
    display: block;
    font-size: 12px;
    position: absolute;
    top: 2px;
    right: 3px;
    cursor: pointer;
    visibility: hidden;
}

.csm-input-group span {
    padding-left: 15px;
}

.div-depended.active .csm-input-group input[type=checkbox]:checked ~ label > svg {
    visibility: visible;
}

.conf_box__footer {
    display: flex;
    padding-right: 0px;
    padding-left: 50px;
    border-top: 1px solid #7ca953;
    background-color: #f5f2f2;
}

.conf_box__footer ul {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.conf_box__footer ul li {
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.conf_box__footer ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #c4c4c4;
}

.conf_box__footer ul li a img {
    /*width: 100%;*/
}

.preview-tabs {
    display: flex;
    width: 60%;
}

.preview-tabs .tab__item h5 {
    font-family: Dosis-Medium;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #505050;
}

.preview-tabs .tab__item h1 {
    font-family: Dosis-Bold;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 28px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #505050;
    padding-top: 43px;
    padding-bottom: 43px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: pointer;
}

.preview-tabs .tab__item:hover h1 {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 10px 0 rgba(0,0,0,.2);
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.preview-tabs .tab__item:hover a {
    background: rgba(196, 196, 196, 0.1);
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.preview-tabs .tab__item:hover h5{
    font-weight: bold;
}

.preview-tabs .tab__item.active h1 {
    background: #fff;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,.2);
}

.preview-tabs .tab__item a {
    outline: none !important;
}

.preview-tabs .tab__item.active a {
    background-color: rgba(196, 196, 196, 0.3);
    text-decoration: none;
}

.preview-tabs .tab__item.active h5 {
    font-weight: bold;
}

.conf_box__footer .button-group {
    display: flex;
    background-color: #a0c025;
    width: 40%;
    padding: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.conf_box__footer .button-group li {
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.conf_box__footer .button-group li .button-item {
    display: inline-block;
    width: auto;
    font-family: Dosis-Bold;
    font-size: 21.5px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.98;
    letter-spacing: 0.22px;
    text-align: left;
    color: #000000;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px 45px;
}

.conf_box__footer .button-group li:first-child .button-item {
    text-decoration: none;
}

.conf_box__footer .button-group li:last-child .button-item {
    background-color: transparent;
    text-decoration: underline;
    border: none;
}

.div-depended {
    display: none;
}

.div-depended.active {
    display: block;
}

/* /Confugiration*/

/*media queries*/
.conf_box__footer .button-group li:last-child .button-item {
    font-size: 18px;
}
/* /media queries*/