/*Media Queries*/
@media only screen and (max-width: 1500px) and (max-width: 1700px) {
    .r-carousel-box .item {
        margin: 60px;
    }
}

@media only screen and (min-width: 1500px) {
    .container, .solid-helper-container {
        width: calc(100% - 280px);
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
    .benefits_more > h3 {
        font-size: 35px;
    }

    .benefits_more > h1 {
        font-size: 47px;
    }

    .benefits_more > p {
        font-size: 22px;
    }

    .benefits_more {
        padding-right: 30px;
        padding-left: 30px;
        transform: translateY(-101px);
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {

    .site_nav .left {
        margin-left: 30px;
    }

    .fixed-box-right {
        width: calc(70% - 125px);
    }

    .explore-click-details .fixed-content {
        right: 70px;
    }

    .benefits_more {
        width: calc(100% - 30px);
    }

    .site_nav .right {
        margin-right: 15px;
    }

    .item__picture img {
        padding: 15px;
    }

    .r-carousel-box .r-left {
        left: -60px;
    }

    .r-carousel-box .r-right {
        right: -55px;
    }

    .grid-fixed {
        height: 700px;
    }

    .section-full-height {
        height: 900px !important;
    }

    .carousel-g-box {
        width: calc(100% - 80px);
    }

    .container, .solid-helper-container, .fixed-box {
        width: calc(100% - 130px);
    }

    .benefits_more {
        padding-right: 30px;
        padding-left: 30px;
        transform: translateY(-101px);
    }

    .benefits_more h3 {
        font-size: 28px;
    }

    .benefits_more h1 {
        font-size: 41px;
    }

    .benefits_more p {
        font-size: 25px;
    }

    .benefits p {
        font-size: 17px;
    }

    .benefits h2 {
        font-size: 35px;
    }

    .button-group .button-bordered, .button-group .button-full {
        font-size: 12px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .main_top {
        height: 900px;
    }

    .r-carousel-box .item {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 17px;
        padding-left: 17px;
        margin: 75px;
    }

    .projects .center-title h1 {
        font-size: 150px;
    }

    .shapes_inner .left h1 {
        font-size: 33px;
    }

    .item__content .right ul {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .item__content .right li {
        font-size: 19px;
    }

    .shapes_inner span {
        font-size: 28px;
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .benefits_more {
        border-bottom: none;
    }

    .pro-list .list-item .item-helper {
        padding-right: 25px;
    }

    .news_in .news_list .list-item {
        padding-right: 25px;
    }
}

@media only screen and (max-width: 1250px) {
    .benefits_more {
        border-bottom: solid 1px #a0c025;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container, .solid-helper-container, .fixed-box {
        width: calc(100% - 130px);
    }

    .main_top {
        height: 900px;
    }

    .benefits_more {
        padding-right: 30px;
        padding-left: 30px;
    }

    .benefits_more h3 {
        font-size: 31px;
    }

    .benefits_more h1 {
        font-size: 37px;
    }

    .benefits_more p {
        font-size: 24px;
    }

    .button-group {
        flex-direction: column;
    }

    .button-group .button-bordered, .button-group .button-full {
        width: 100%;
        margin-right: 0;
        justify-content: center;
    }

    .button-group .button-bordered {
        margin-top: 10px;
    }

    .benefits p {
        font-size: 15px;
    }

    .benefits h2 {
        font-size: 30px;
    }

    .grid-fixed {
        height: 650px;
    }

    .carousel-g-box {
        width: calc(100% - 70px);
    }

    .shapes_inner .item__content {
        display: flex;
        flex-direction: column;
    }

    .shapes_inner .shape_item:nth-child(odd) .item_inner {
        flex-direction: row;
    }

    .shapes_inner .shape_item:nth-child(even) .item_inner {
        flex-direction: row;
    }

    .shapes_inner .shape_item:nth-child(odd) .item_inner {
        padding-right: 0;
    }

    .shapes_inner .shape_item:nth-child(even) {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .shapes_inner .shape_item:nth-child(even) .item__content {
        padding-left: 0px;
    }

    .shapes_inner .item__picture, .shapes_inner .item__content {
        width: 50%;
        margin-right: 0;
        margin-left: 0;
    }

    .shapes_inner .item__content {
        display: flex;
        padding-top: 70px;
        padding-bottom: 70px;
        justify-content: center;
    }

    .shapes_inner .item__picture{
        display: flex;
        align-items: center;
    }

    #products.mt--130 {
        margin-top: 0px;
    }

    .r-carousel-box .item {
        margin: 150px;
    }

    .owl-item.center {
        transform: scale(1);
    }

    .r-carousel-box .owl-item.center li img {
        transform: scale(0.6);
    }

    .roof-types {
        padding-bottom: 140px;
        padding-right: 90px;
        padding-left: 90px;
    }

    .r-carousel-box .r-left {
        left: -20px;
    }

    .r-carousel-box .r-right {
        right: -20px;
    }

    .section-full-height {
        height: 900px;
    }

    .fixed-box {
        height: 100%;
    }

    .fixed-box-right {
        height: 100%;
    }

    .projects_in .item {
        width: 33.333%;
    }

    .projects .center-title h1 {
        font-size: 140px;
    }

    .news_in .news_list .list-item {
        padding-right: 30px;
    }

    .news_in .news_list .list-item p {
        font-size: 26px;
    }

    .subscribe {
        margin-top: 30px;
    }

    .explore-click-details .fixed-content {
        right: 70px;
    }

    .input-button {
        display: inline-flex;
        width: 50%;
    }

    .site_nav .left {
        margin-left: 30px;
    }

    .site_nav .right {
        margin-right: 15px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1100px) {
    .fixed-box-left {
        min-width: 400px;
    }

    .section-title {
        font-size: 50px;
    }

    .fixed-box-left .content h3 {
        font-size: 22px;
    }
}

/* /Media Queries*/