/*Media Queries*/
@media only screen and (min-width: 2221px) and (max-width: 2680px) {
    .roof-types .owl-stage-outer {
        min-height: 550px;
    }

    .r-carousel-box .owl-item.center li {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    .grid-fixed {
        height: 1220px;
    }

    .carousel-g-box {
        min-height: calc(100% - 150px);
    }
}

@media only screen and (min-width: 2050px) and (max-width: 2220px) {
    .roof-types .owl-stage-outer {
        min-height: 490px;
    }

    .roof-types {
        padding-bottom: 140px;
    }

    .grid-fixed {
        height: 1040px;
    }

}

@media only screen and (max-width: 1600px) {

    .roof-types .additionally-div a {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1700px) {
    .r-carousel-box .item {
        margin: 60px;
    }
}

@media only screen and (min-width: 1500px) {
    .container, .solid-helper-container {
        width: calc(100% - 280px);
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
    .benefits_more > h3 {
        font-size: 35px;
    }

    .benefits_more > h1 {
        font-size: 47px;
    }

    .benefits_more > p {
        font-size: 22px;
    }

    .benefits_more {
        padding-right: 30px;
        padding-left: 30px;
        transform: translateY(-101px);
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {

    .site_nav .left {
        margin-left: 30px;
    }

    .fixed-box-right {
        width: calc(70% - 125px);
    }

    .explore-click-details .fixed-content {
        right: 70px;
    }

    .site_nav .right {
        margin-right: 15px;
    }

    .item__picture img {
        padding: 15px;
    }

    .r-carousel-box .r-left {
        left: -60px;
    }

    .r-carousel-box .r-right {
        right: -55px;
    }

    .grid-fixed {
        height: 700px;
    }

    .section-full-height {
        height: 900px !important;
    }

    .carousel-g-box {
        width: calc(100% - 80px);
    }

    .container, .solid-helper-container, .fixed-box {
        width: calc(100% - 130px);
    }

    .benefits_more {
        padding-right: 30px;
        padding-left: 30px;
        transform: translateY(-101px);
    }

    .benefits_more h3 {
        font-size: 28px;
    }

    .benefits_more h1 {
        font-size: 41px;
    }

    .benefits_more p {
        font-size: 25px;
    }

    .benefits p {
        font-size: 17px;
    }

    .benefits h2 {
        font-size: 35px;
    }

    .button-group .button-bordered, .button-group .button-full {
        font-size: 12px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .main_top {
        height: 900px;
    }

    .r-carousel-box .item {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 17px;
        padding-left: 17px;
        margin: 75px;
    }

    .projects .center-title h1 {
        font-size: 150px;
    }

    .shapes_inner .left h1 {
        font-size: 33px;
    }

    .item__content .right ul {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .item__content .right li {
        font-size: 19px;
    }

    .shapes_inner span {
        font-size: 28px;
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .benefits_more {
        border-bottom: none;
    }

    .pro-list .list-item .item-helper {
        padding-right: 25px;
    }

    .news_in .news_list .list-item {
        padding-right: 25px;
    }
}

@media only screen and (max-width: 1250px) {
    .benefits_more {
        border-bottom: solid 1px #a0c025;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container, .solid-helper-container, .fixed-box {
        width: calc(100% - 130px);
    }

    .main_top {
        height: 900px;
    }

    .benefits_more {
        padding-right: 30px;
        padding-left: 30px;
    }

    .benefits_more h3 {
        font-size: 31px;
    }

    .benefits_more h1 {
        font-size: 37px;
    }

    .benefits_more p {
        font-size: 24px;
    }

    .button-group {
        flex-direction: column;
    }

    .button-group .button-bordered, .button-group .button-full {
        width: 100%;
        margin-right: 0;
        justify-content: center;
    }

    .button-group .button-bordered {
        margin-top: 10px;
    }

    .benefits p {
        font-size: 15px;
    }

    .benefits h2 {
        font-size: 30px;
    }

    .grid-fixed {
        height: 650px;
    }

    .carousel-g-box {
        width: calc(100% - 70px);
    }

    .shapes_inner .item__content {
        display: flex;
        flex-direction: column;
    }

    .shapes_inner .shape_item:nth-child(odd) .item_inner {
        flex-direction: row;
    }

    .shapes_inner .shape_item:nth-child(even) .item_inner {
        flex-direction: row;
    }

    .shapes_inner .shape_item:nth-child(odd) .item_inner {
        padding-right: 0;
    }

    .shapes_inner .shape_item:nth-child(even) {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .shapes_inner .shape_item:nth-child(even) .item__content {
        padding-left: 0px;
    }

    .shapes_inner .item__picture, .shapes_inner .item__content {
        width: 50%;
        margin-right: 0;
        margin-left: 0;
    }

    .shapes_inner .item__content {
        display: flex;
        padding-top: 70px;
        padding-bottom: 70px;
        justify-content: center;
    }

    .shapes_inner .item__picture {
        display: flex;
        align-items: center;
    }

    #products.mt--130 {
        margin-top: 0px;
    }

    .r-carousel-box .item {
        margin: 70px;
    }

    .owl-item.center {
        transform: scale(1);
    }

    .r-carousel-box .owl-item.center li img {
        transform: scale(0.6);
    }

    .roof-types {
        padding-bottom: 140px;
        padding-right: 90px;
        padding-left: 90px;
    }

    .r-carousel-box .r-left {
        left: -20px;
    }

    .r-carousel-box .r-right {
        right: -20px;
    }

    .section-full-height {
        height: 900px;
    }

    .fixed-box {
        height: 100%;
    }

    .fixed-box-right {
        height: 100%;
    }

    .projects_in .item {
        width: 33.333%;
    }

    .projects .center-title h1 {
        font-size: 140px;
    }

    .news_in .news_list .list-item {
        padding-right: 30px;
    }

    .news_in .news_list .list-item p {
        font-size: 26px;
    }

    .subscribe {
        margin-top: 30px;
    }

    .explore-click-details .fixed-content {
        right: 70px;
    }

    .input-button {
        display: inline-flex;
        width: 50%;
    }

    .site_nav .left {
        margin-left: 30px;
    }

    .site_nav .right {
        margin-right: 15px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1100px) {
    .fixed-box-left {
        min-width: 400px;
    }

    .section-title {
        font-size: 50px;
    }

    .fixed-box-left .content h3 {
        font-size: 22px;
    }

    .news_in .news_list .list-item h3 {
        font-size: 27px;
    }
}

/*Small Device*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: calc(100% - 100px);
    }

    .container.benefits {
        width: calc(100% - 70px);
    }

    .benefits_more {
        position: relative;
        transform: translateY(0);
    }

    .benefits_inner {
        display: block;
    }

    .main_top {
        height: 900px;
    }

    .benefits_inner > div {
        border: none;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .benefits_inner > div:first-child {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .benefits_inner .item-helper {
        padding-left: 0px;
    }

    .benefits_inner .item:before {
        left: 15px;
        top: 0;
    }

    .benefits_inner .item:last-child:before {
        display: none;
    }

    .site_nav .left {
        margin-left: 55px;
    }

    .site_nav .right {
        margin-right: 30px;
    }

    .solid-helper-container {
        width: 100%;
    }

    .bb-1 {
        border-bottom: none;
    }

    .gallery {
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .grid-fixed {
        flex-direction: column-reverse;
        height: auto;
        margin-top: 0;
    }

    .carousel-g-box {
        transform: translateY(0);
        width: 100%;
        height: 600px;
    }

    .carousel-g-thumb {
        width: 100%;
    }

    .g-header {
        padding-top: 25px;
        padding-bottom: 25px;
        transform: translateY(0);
    }

    .g-header h3 {
        display: block;
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
        font-size: 30px;
        color: #fff;
    }

    .gallery_header p {
        font-size: 26px;
    }

    .grid-fixed-right {
        width: 100%;
    }

    .carousel-g-thumb-buttons {
        flex-direction: row-reverse;
    }

    .shapes_inner .shape_item:nth-child(odd) .item_inner {
        padding-right: 0;
    }

    .shape_item img {
        width: 100%;
    }

    .shapes_inner .shape_item:nth-child(odd) .item_inner {
        flex-direction: column-reverse;
    }

    .shapes_inner .shape_item:nth-child(even) {
        transform: translateY(0);
    }

    .shape_item .item_inner .item__content {
        display: flex;
        height: 100%;
        padding-top: 70px;
    }

    .shape_item .item_inner .item__content .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .item__content .right {
        padding-left: 15px;
    }

    .roof-types {
        padding-right: 50px;
        padding-left: 50px;
    }

    .shapes_inner .left span, .shapes_inner .left h1 {
        display: block;
        width: 100%;
        text-align: center;
    }

    .item__content .right li {
        font-size: 25px;
    }

    .owl-item.center {
        transform: scale(1);
    }

    .r-carousel-box .owl-item.center li {
        transform: scale(1);
    }

    .r-carousel-box .owl-item.center li img {
        transform: scale(0.4);
    }

    .shapes_inner .shape_item:nth-child(even) .item__content {
        padding-left: 0;
    }

    .mt--130 {
        margin: 0;
    }

    .roof-types {
        padding-bottom: 0;
    }

    .r-carousel-box .r-right {
        right: 0px;
    }

    .r-carousel-box .r-left {
        left: 0px;
    }

    .r-carousel-box .item {
        margin: 100px;
    }

    .fixed-box {
        width: calc(100% - 100px);
        flex-direction: column;
    }

    .section-title {
        font-size: 45px;
    }

    .fixed-box-left {
        max-width: 100%;
    }

    .fixed-box-right {
        width: 100%;
        height: 750px;
    }

    .fixed-box-section {
        height: 1300px;
    }

    .fixed-box-left .content p {
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 27px;
    }

    .carousel-g-thumb-buttons {
        padding: 50px 45px;
    }

    .r-carousel-box-header h1 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .r-carousel-box-header h3 {
        padding-right: 5px;
        padding-left: 5px;
    }

    .click-center img {
        padding: 50px;
    }

    .explore-click-details .fixed-content {
        right: 50px;
    }

    .explore-click-details {
        height: 990px;
    }

    .projects_in .item {
        width: 50%;
    }

    .protected {
        margin-top: 0;
    }

    .pro-list .list-item .item-helper {
        padding-right: 50px;
    }

    .projects .center-title h1 {
        font-size: 45px;
        font-family: Dosis-Medium;
        padding-left: 60px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.61px;
        text-align: left;
        text-transform: uppercase;
        color: #000000;
    }

    .projects {
        margin-top: 180px;
    }

    .projects_in {
        margin-top: 50px;
    }

    .projects .center-title {
        top: -50px;
    }

    .protected {
        margin-top: 180px;
    }

}

/* /Small Device*/

@media only screen and (max-width: 768px) {

    .header ul li a {
        font-size: 11px;
    }

    .protected {
        padding-top: 60px;
    }

    #gallery {
        position: relative;
        z-index: 1;
    }

    .shapes {
        z-index: 1;
    }

    #open-small-social {
        display: block;
        margin-right: 15px;
    }

    .social-large-device {
        display: none;
    }

    .pro-list .list-item h3 {
        font-size: 23px;
    }

    .pro-list .list-item p {
        font-size: 21px;
    }

    .more-contain a, .more-contain span, .more-contain button {
        font-size: 26px;
    }

    .pro-list .list-item .item-helper {
        padding-bottom: 0;
    }

    .more-contain {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .pro_header {
        margin-bottom: 50px;
    }

    .item__content .right li {
        font-size: 22px;
    }

    .default-menu-list {
        display: none;
    }

    .site_nav .right ul.menu-list {
        display: flex;
    }
}

/* /Media Queries*/