body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal !important;
    font-family: "Dosis-Medium";
}

/*General*/
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 10px !important;
    font-family: Dosis-Bold;
    color: #000;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    color: #000;
}

ul li a {
    font-size: 14px;
    color: #000;
}

.p-0 {
    padding: 0 !important;
}

.p-15 {
    padding: 15px !important;
}

.m-0 {
    margin: 0 !important;
}

.m-15 {
    margin: 15px !important;
}

.mt--130 {
    margin-top: -130px;
}

.d-block {
    display: block;
}

.d-inline-b {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.item-helper {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.button-group {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button-group .button-bordered, .button-group .button-full {
    display: flex;
    white-space: nowrap;
    font-family: Dosis-Bold;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.14px;
    text-align: left;
    border: solid 3px #7ca953;
    margin-right: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: #000000;
}

.button-group .button-bordered {
    border-radius: 3px;
    background-color: #fff;
}

.button-group .button-full {
    border-radius: 3px;
    background-color: #7ca953;
}

.button-group .button-bordered:link,
.button-group .button-bordered:focus,
.button-group .button-bordered:hover,
.button-group .button-bordered:visited {
    outline: none;
    text-decoration: none;
}

.un-bordered {
    border: none !important;
}

.section-title {
    font-size: 61px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.61px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

.slick-slide {
    outline: none !important;
}

.section-full-height {
    /*height: 100%;*/
    height: 100%;
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    height: fill-available;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.bb-1 {
    border-bottom: solid 1px #a0c025
}

/*back to top button*/
#btt {
    display: block;
    width: 75px;
    height: 74px;
    position: fixed;
    border-radius: 50%;
    bottom: 160px;
    right: 35px;
    z-index: 999;
    cursor: pointer;
    transition: all 0.2s linear;
}

#btt:hover {
    transform: translateY(-7px);
    transition: all 0.2s linear;
}

#btt svg, #btt img, #btt i {
    color: #7ca953;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 58px;
    visibility: hidden;
    opacity: 0;
}

#btt:before {
    content: "";
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#btt.startBttAnim:before {
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
    /*background-color: rgba(60, 174, 134, 0.6);*/
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.35);
    transition: all 0.6s cubic-bezier(1, 0, 0, 1);
}

#btt.startBttAnim svg,
#btt.startBttAnim img,
#btt.startBttAnim i {
    visibility: visible;
    opacity: 1;
    transition: all 0.7s cubic-bezier(1, 0, 0, 1);
}

#btt.stopBttAnim:before {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    transition: all 0.6s cubic-bezier(1, 0, 0, 1);
}

#btt.startBttAnim:hover:before {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

#btt.stopBttAnim svg,
#btt.stopBttAnim img,
#btt.stopBttAnim i {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);
}

/*back to top button*/

/* /General*/

/*Header*/
.header {
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
}

.header ul li {
    list-style: none;
    margin-right: 25px;
}

.header .right ul li:last-child {
    margin-right: 0px;
}

.header ul li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.79;
    letter-spacing: 0.14px;
    padding-right: 3px;
    padding-left: 3px;
    text-align: left;
}

.header .right a {
    color: #d6d6d6;
    font-size: 16px;
}

.header .icon-header {
    height: 27px;
    margin-right: 5px;
}

/* /Header*/

/*Main*/
.main {
    position: relative;
    height: 100%;
}

.main_top {
    height: 100%;
    min-height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    height: fill-available;
}

.main_top__inner {
    min-height: 100%;
    width: 100%;
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    padding-top: 50px;
    background-image: url("../img/main/1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.site_nav .left {
    display: flex;
    align-items: center;
    margin-left: 95px;
    z-index: 999;
}

.site_nav .right {
    margin-right: 95px;
    z-index: 999;
}

.site_nav a {
    text-decoration: none;
}

.site_nav .left h1 {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
}

.site_nav .right li {
    list-style: none;
}

.site_nav .right ul li a {
    font-family: ZonaPro-Bold;
    text-decoration: none;
    font-size: 21px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

/* /Main*/

/*Product Benefits*/
.benefits h2 {
    font-family: Dosis-Bold;
    font-size: 46px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.46px;
    text-align: left;
    color: #d6d6d6;
}

.benefits p {
    font-family: Dosis-Medium;
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    text-align: left;
    line-height: 2.5;
    padding-top: 5px;
    color: #000000;
}

.benefits_inner > div {
    padding-top: 100px;
    padding-bottom: 60px;
    border-right: solid 1px #a0c025;
}

.benefits_inner .item-helper {
    padding-top: 0;
}

.benefits_inner .item {
    position: relative;
}

.benefits_inner .item:last-child {
    -webkit-transform: translateX(-1px);
    -moz-transform: translateX(-1px);
    -ms-transform: translateX(-1px);
    -o-transform: translateX(-1px);
    transform: translateX(-1px);
}

.benefits_inner .item:before {
    content: '';
    display: block;
    position: absolute;
    width: 115px;
    height: 6px;
    top: 60px;
    left: 30px;
    background-color: #7ca953;
}

.benefits_more {
    position: absolute;
    background: #fff;
    width: 100%;
    height: auto;
    padding: 65px;
    border: solid 1px #a0c025;
    transform: translateY(-130px);
}

.benefits_more h3 {
    font-family: Dosis-Medium;
    font-size: 31px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.31px;
    margin-bottom: 50px !important;
    text-align: left;
    color: #000000;
}

.benefits_more h1 {
    font-family: Dosis-Bold;
    font-size: 61px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.81px;
    text-align: left;
    color: #7ca953;
    margin-bottom: 30px;
}

.benefits_more p {
    font-family: Dosis-Regular;
    font-size: 28px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.28px;
    text-align: left;
    color: #6a6a6a;
}

.solid-helper-container {
    position: absolute;
    background: transparent;
    height: 100%;
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    height: fill-available;
}

.solid-item {
    height: 100%;
    border-right: solid 1px #fff;
}

/* /Product Benefits*/

/*Gallery*/
.gallery {
    margin-top: 60px;
    margin-bottom: 150px;
}

.main.not-home #gallery {
    margin-top: -40%;
}

.gallery_header {
    padding-top: 60px;
    padding-bottom: 60px;
}

.gallery_header h1 {
    margin-bottom: 40px;
}

.gallery_header h3 {
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.25px;
    text-align: left;
    color: #7ca953;
    margin-bottom: 30px
}

.gallery_header p {
    font-family: Dosis-Regular;
    font-size: 28px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.28px;
    text-align: left;
    color: #6a6a6a;
}

.grid-fixed {
    display: flex;
    width: 100%;
    height: 800px;
    margin-top: 240px;
    background-color: #7ca953;
}

.grid-fixed-left {
    display: flex;
    flex-direction: column;
    min-width: 310px;
    min-height: 100%;
    height: 100%;
}

.grid-fixed-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    width: calc(100% - 310px);
}

.carousel-g-box {
    display: flex;
    width: calc(100% - 145px);
    min-height: 100%;
    transform: translateY(-220px);
}

.carousel-g {
    width: 100%;
}

.carousel-g .item {
    display: flex;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-g-box .item img {
    width: 100%;
}

.carousel-g-box * {
    height: 100%;
}

.carousel-g-thumb-box * {
    height: 100%;
}

.carousel-g-thumb-box {
    position: relative;
    width: 100%;
    background: black;
    height: 240px;
}

.carousel-g-thumb {
    position: absolute;
    width: 200%;
    height: 100%;
    z-index: 999;
}

.carousel-g-thumb .item {
    height: 240px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-g-thumb-buttons {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.g-header {
    transform: translateY(-230px);
}

.g-header:before {
    content: '';
    position: absolute;
    width: 115px;
    height: 6px;
    background-color: #7ca953;
}

.g-header h3 {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.28px;
    text-align: left;
    color: #b9b9b9;
}

.carousel-g-thumb-buttons {
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.carousel-g-thumb-buttons span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    margin: 5px;
    cursor: pointer;
    width: 52px;
    height: 52px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.carousel-g-thumb-buttons span.g-left {
    background-color: rgba(255, 255, 255, 0.2);
}

.carousel-g-thumb-buttons span img {
    height: 100%;
}

/* /Gallery*/

/*Roofs Shapes & Types*/
.shapes {
    margin-top: 100px;
}

.shape_item__header {
    margin-bottom: 80px;
}

.shape_item__header .section-title {
    display: flex;
}

.item__content .right ul {
    padding-top: 15px;
    padding-bottom: 15px;
}

.item__content {
    padding-bottom: 70px;
}

.shapes_inner .shape_item:nth-child(odd) .item_inner {
    display: flex;
    flex-direction: column;
    padding-right: 80px;
}

.shapes_inner .shape_item:nth-child(even) {
    -webkit-transform: translateY(-160px);
    -moz-transform: translateY(-160px);
    -ms-transform: translateY(-160px);
    -o-transform: translateY(-160px);
    transform: translateY(-160px);
}

.shapes_inner .shape_item:nth-child(even) .item_inner {
    display: flex;
    flex-direction: column-reverse;
}

.shapes_inner .shape_item:nth-child(even) .item__content {
    padding-top: 70px;
    padding-left: 70px;
}

.shapes_inner .shape_item {
    z-index: 999;
}

.item__content .right {
    padding-left: 20px;
}

.item__content .right li {
    position: relative;
    list-style: none;
    font-family: Dosis-Regular;
    font-size: 23px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.item__content .right li:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 50%;
    top: 1.2rem;
    left: -30px;
}

.shapes_inner .left span, .shapes_inner .left h1 {
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.48px;
    text-align: left;
    color: #000000;
}

.shapes_inner .left h1 {
    font-family: Dosis-Extra-Bold;
    font-size: 48px;
}

.shapes_inner span {
    font-family: Dosis-extra-Light;
    font-size: 43px;
}

/* /Roofs Shapes & Types*/

/*Roof Types*/
.roof-types {
    display: flex;
    flex-direction: column;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 220px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
}

/*Slick Slider Center Mode With Zoom Effect*/

.r-carousel-box {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.r-carousel-box img {
    display: block;
    color: #fff;
    font-size: 36px;
    line-height: 100px;
    position: relative;
    text-align: center;
    transform: translate(0, 0) scale(.4);
    transition: all .4s ease;
    opacity: .5;
}

.r-carousel-box .owl-item.center li {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.2);
    opacity: 1;
    color: #e67e22;
    transition: all 0.2s linear;
}

.r-carousel-box .owl-item.center li img {
    z-index: 1;
    transform: scale(0.8);
    opacity: 1;
    color: #e67e22;
}

.r-carousel-box .slick-prev,
.r-carousel-box .slick-next {
    position: absolute;
    top: 50%;
    appearance: none;
    margin-top: -10px;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    color: transparent;
    outline: none;
    z-index: 100;
}

.r-carousel-box .slick-prev {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    left: 0;
}

.r-carousel-box .slick-next {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    right: 0;
}

.r-carousel-box .item {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 32px;
    padding-left: 32px;
    margin: 75px;
    border-radius: 50%;
    width: auto !important;
    border: solid 2px rgba(255, 255, 255, .2);
}

.r-carousel-box ul li {
    list-style: none;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.r-carousel-box-header h1 {
    font-size: 81px;
    font-weight: bold;
    text-align: right;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.81px;
    color: #ffffff;
}

.r-carousel-box-header h3 {
    font-family: Dosis-Medium;
    font-size: 31px;
    text-align: right;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.31px;
    color: #ffffff;
}

.r-carousel-box .r-left, .r-carousel-box .r-right {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 52px;
    height: 52px;
    border: 1px solid #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.r-carousel-box .r-left {
    left: -40px
}

.r-carousel-box .r-right {
    right: -40px;
}

.r-carousel-box .r-left:hover, .r-carousel-box .r-right:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
}

/* /Slick Slider Center Mode With Zoom Effect*/

/* /Roof Types*/

/*Details & Highlights & Accecories*/

.fixed-box {
    width: calc(100% - 280px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    flex-direction: row;
}

.fixed-box-left {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    max-width: 30%;
    min-height: 100%;
}

.fixed-box-right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    height: 100%;
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: fill-available;
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    background-image: url('../img/comfort/23.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.fixed-box-left .content {
    max-width: 100%;
    padding-right: 30px;
}

.fixed-box-left .content h1 {
    white-space: nowrap;
}

.fixed-box-left .content h3 {
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.96;
    letter-spacing: 0.28px;
}

.fixed-box-left .content p {
    font-family: Dosis-Light;
    font-size: 28px;
    padding-top: 80px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.28px;
    text-align: left;
    color: #6a6a6a;
}

/* /Details & Highlights & Accecories*/

/*Click & Explore Closer*/
.explore-click-details {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    background-color: #dcf0c9;
}

.click-center {
    margin: 0 auto;
}

.explore-click-details .fixed-content {
    position: absolute;
    padding: 80px;
    border: solid 1px #a0c025;
    background-color: #7ca953;
    right: 140px;
    bottom: -140px;
}

.explore-click-details .fixed-content {
    font-family: Dosis-Medium;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.98;
    letter-spacing: 0.22px;
    text-align: left;
    color: #000000;
}

.explore-click-details .fixed-content h1 {
    font-size: 48px;
}

/* /Click & Explore Closer*/

/*Well Protected*/
.protected {
    margin-top: 140px;
}

.pro_header {
    margin-bottom: 100px;
}

.pro-list .list-item {
    display: inline-block;
    margin-top: 50px;
}

.pro-list .list-item .item-helper {
    padding-left: 0px;
    padding-right: 100px;
}

.pro-list .list-item:before {
    content: '';
    display: block;
    width: 108px;
    height: 10px;
    background-color: #7ca953;
    position: absolute;
    left: 15px;
}

.pro-list .list-item h3 {
    font-family: Dosis-Bold;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.71;
    letter-spacing: 0.28px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.pro-list .list-item p {
    font-family: Dosis-Regular;
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.28px;
    text-align: left;
    color: #484848;
}

.more-contain {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
}

.more-contain a, .more-contain span, .more-contain button {
    font-family: Dosis-Medium;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.28px;
    text-align: left;
    color: #7ca953;
    outline: none;
    text-decoration: none;
}

/* /Well Protected*/

/*Our Projects*/
.projects {
    position: relative;
    margin-top: 140px;
    width: 100%;
}

.projects .center-title {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projects .center-title h1 {
    font-family: Dosis-Medium;
    font-size: 190px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.42;
    letter-spacing: 1.9px;
    text-align: center;
    color: #ffffff;
}

.projects_in {
    display: flex;
    flex-wrap: wrap;
}

.projects_in .item {
    display: flex;
    width: 16.66%;
}

.projects_in .item img {
    width: 100%;
}

/* /Our Projects*/

/*Latest News*/
.news {
    margin-top: 140px;
}

.news_in__body {
    padding-top: 140px;
    padding-bottom: 140px;
}

.news_in__header h1 {
    font-family: Dosis-Medium;
    font-size: 81px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.81px;
    text-align: center;
    color: #7ca953;
}

.news_in__body ul li {
    list-style: none;
}

.news_in .news_list .list-item h3 {
    font-family: Dosis-Bold;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.28px;
    text-align: left;
    color: #000000;
}

.news_in .news_list .list-item {
    padding-right: 100px;
}

.news_in .news_list .list-item p {
    font-family: Dosis-Regular;
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.28px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #484848;
}

.news_in .button-group {
    padding-top: 40px;
    padding-bottom: 40px;
}

.news_in .news_list .list-item h3:first-child {
    font-family: Dosis-Medium;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.25px;
    text-align: left;
    color: #7ca953;
}

/* /Latest News*/

/*Footer */
.footer {
    position: relative;
    width: 100%;
    background-image: url("../img/background/25.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer .logo {
    display: flex;
    justify-content: flex-start;
    padding-top: 75px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer .logo a {
    text-decoration: none;
}

.footer .logo h1 {
    padding-left: 10px;
    padding-right: 10px;
}

.footer .footer_inner .left p {
    font-family: Dosis-Regular;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.23px;
    text-align: left;
    color: #484848;
}

.footer .footer_inner .left p:first-child {
    margin-bottom: 50px;
}

.footer .footer_link li {
    list-style: none;
}

.footer .footer_link li a {
    font-family: Dosis-Regular;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.24px;
    border-right: 1px solid;
    height: auto;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
    color: #484848;
}

.footer .footer_link li a:last-child {
    border-right: none;
}

.footer .join_us h3 {
    font-family: Dosis-Medium;
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #838383;
}

.footer .join_us {
    padding-left: 10px;
}

.footer .join_us li span {
    font-size: 35px;
}

.footer .join_us li a {
    margin-right: 10px;
}

.footer .join_us {
    padding-top: 45px;
    padding-bottom: 45px;
}

.footer .subscribe h3 {
    font-family: Dosis-Bold;
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 0 !important;
    margin-bottom: 35px;
    text-align: left;
    color: #838383;
}

.footer .subscribe .input-button {
    display: flex;
}

.footer .subscribe input {
    outline: none !important;
}

.footer .subscribe .input-button input[type = email] {
    font-family: Dosis-Medium;
    height: 62px;
    width: 100%;
    border: solid 2px #dcdcdc;
    background-color: #dcdcdc;
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    padding-left: 25px;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    color: #838383;
}

.footer .subscribe .input-button input[type = submit] {
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 2px #a4da22;
    background-color: #7ca953;
    font-family: Dosis-Medium;
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #fffffe;
}

.footer .subscribe .content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer .subscribe .content p {
    font-family: Dosis-Regular;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 25px;
    color: #3b3b3b;
}

.footer .subscribe .content p > a {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 25px;
    color: #3b3b3b;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.footer .subscribe .content p:last-child {
    padding-left: 60px;
}

.owl-item.center {
    transform: scale(1.4);
}

/* /Footer */
